---
import BannerDescuentos from "../components/BannerDescuentos.astro";
import BannerOfertas from "../components/BannerOfertas.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Recomendados from "../components/Recomendados.astro";
import { db } from "../db/db";
import BannerLayout from "../layouts/BannerLayout.astro";

const categories = await db.query.categorias.findMany({
    limit: 8,
});
---

<BannerLayout>
    <h3 class="w-full text-2xl font-bold my-14 text-gray-800">
        Explora las nuevas categorías
    </h3>
    <div class="w-full flex justify-between gap-3">
        {categories.map((category) => <CategoryCard category={category} />)}
    </div>
    <BannerOfertas />
    <BannerDescuentos />
    <Recomendados />
</BannerLayout>
