---
import { getOfertaBanners } from "../lib/api/banner.api";
import HomeSectionHeader from "./HomeSectionHeader.astro";

const bannerOfertaLista = await getOfertaBanners();
---

<div>
  <HomeSectionHeader withTimer title="¡Solo por hoy!" />
  <div class="grid grid-cols-3 gap-3">
    {
      bannerOfertaLista.map((bannerOferta) => (
        <img
          class="w-auto h-auto"
          src={bannerOferta.url}
          alt={bannerOferta.altText}
        />
      ))
    }
  </div>
</div>
