---
import { eq, sql } from "drizzle-orm";
import { db } from "../db/db";
import * as schema from "../db/schema";
import { ShoppingCart } from "lucide-astro";

const usuarioId = Astro.locals.user?.userId;

let carrito = undefined;

if (usuarioId) {
    carrito = await db
        .select({ count: sql<number>`COUNT(*)` })
        .from(schema.carrito)
        .where(eq(schema.carrito.usuarioId, usuarioId));
}
---

<div class="dropdown dropdown-end">
    <a href="/carrito" class="btn btn-primary btn-circle">
        <div
            class="indicator text-white">
            <ShoppingCart />
            <span id="
            carrito-badge"
            class="badge badge-sm indicator-item"
        >
            {carrito ? carrito[0].count : 0}
        </div>
    </a>
</div>
