---
import { type Category } from "../db/schema";
interface Props {
    category: Category;
}
const { category }: Props = Astro.props;
---

<a
    href={`/products/?categoria=${category.id}`}
    id={category.id.toString()}
    class="bg-base-100"
>
    <img class="rounded-full w-40 h-40 border-4 border-red-400 object-fill" src={category.imageUrl} alt="Shoes" />
    <p class="text-center">
        {category.nombre}
    </p>
</a>
