---
import CarritoNavbar from "./CarritoNavbar.astro";
import SearchInputNavbar from "./SearchInputNavbar.astro";
import { LogOut, CircleUser, Package } from "lucide-astro";

const isAuthenticated = Astro.locals.isAuthenticated;
---

<div class="container mx-auto">
    <div class="navbar max-h-[70px]!">
        <a href="/">
            <img
                src="https://plazavea.vteximg.com.br/arquivos/LogoPlazaVea.svg?v=638558150445000000"
            />
        </a>
        <SearchInputNavbar />
        <div class="flex gap-2">
            <a href="/miscompras" class="text-white w-32 flex gap-1 items-center">
                <Package />
                Mis compras
            </a>
            {
                isAuthenticated ? (
                    <div class="dropdown">
                        <div
                            tabindex="0"
                            role="button"
                            class="btn btn-primary w-32"
                        >
                            <CircleUser />
                            <p>Mi cuenta</p>
                        </div>
                        <ul
                            tabindex="0"
                            class="menu menu-sm dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-xl space-y-2 border border-red-600"
                        >
                            <li>
                                <a href="/perfil" class="text-[16px]">
                                    Perfil
                                </a>
                            </li>
                            <li>
                                <a href="/miscompras" class="text-[16px]">
                                    Mis compras
                                </a>
                            </li>
                            <li>
                                <a href="/favoritos" class="text-[16px]">
                                    Mis favoritos
                                </a>
                            </li>
                            <li>
                                <button
                                    id="btnLogout"
                                    class="btn btn-error btn-outline hover:text-white text-[16px]"
                                >
                                    <LogOut />
                                    Cerrar sesión
                                </button>
                            </li>
                        </ul>
                    </div>
                ) : (
                    <div class="flex ">
                        <a href="/login" class="btn btn-link text-white">
                            Iniciar sesión
                        </a>
                        <a href="/registro" class="btn btn-link text-white">
                            Registrarse
                        </a>
                    </div>
                )
            }
            <CarritoNavbar />
        </div>
    </div>
</div>

<script is:inline>
    const btnLogout = document.getElementById("btnLogout");

    btnLogout.addEventListener("click", () => {
        fetch("/api/logout", {
            method: "POST",
        })
            .then((_) => (window.location = "/"))
            .catch((_) => {});
    });
</script>
