---
import HomeSectionHeader from "./HomeSectionHeader.astro";
import { getRecommendedProducts } from "../lib/api/products.api";
import ProductCard from "./react/ProductCard";

// Traer productos recomendados
const recomendados = await getRecommendedProducts()
const token = Astro.locals.token;
---

{
    recomendados.length > 0 && (
        <section class="w-full">
            <HomeSectionHeader title="También te puede interesar" />            
            <!-- Swiper -->
            <div class="swiper recomendados-swiper">
                <div class="swiper-wrapper">
                    {recomendados.map((producto) => (
                        <div class="swiper-slide">
                            <ProductCard client:load product={producto} token={token} />
                        </div>
                    ))}
                </div>
                
                <!-- Navegación -->
                <div class="swiper-button-next bg-primary! text-white!"></div>
                <div class="swiper-button-prev bg-primary! text-white!"></div>
                
                <!-- Paginación -->
                <div class="swiper-pagination text-red-700!"></div>
            </div>
        </section>
    )
}
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11.2.10/swiper-bundle.min.js"></script>

<script is:inline type="module">

    var swiper = new Swiper('.recomendados-swiper', {
        // Configuración básica
        slidesPerView: 5,
        spaceBetween: 16,
        
        // Navegación
        navigation: {
            nextEl: '.recomendados-swiper .swiper-button-next',
            prevEl: '.recomendados-swiper .swiper-button-prev',
        },
        
        // Paginación
        pagination: {
            el: '.recomendados-swiper .swiper-pagination',
            clickable: true,
        },
    });
</script>

<!-- Estilos personalizados opcionales -->
<style is:inline>
    .recomendados-swiper {
        padding: 20px 0 40px 0;
    }
    
    .recomendados-swiper .swiper-button-next,
    .recomendados-swiper .swiper-button-prev {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    
    .recomendados-swiper .swiper-button-next:after,
    .recomendados-swiper .swiper-button-prev:after {
        font-size: 16px;
    }
        
    .swipper-pagination .swiper-pagination-bullet-active {
        background: : none;
        opacity: 1;
    }

    .swiper-pagination {
        --swiper-pagination-bullet-size: 10px;
        --swiper-pagination-bullet-inactive-color: #374151;
        --swiper-pagination-color: var(--color-red-700) !important;
    }
</style>